.container {
  width: 100%;
}

.category {
  display: block;
  margin-bottom: 10px;

  font-size: 28px;
  font-weight: 500;
}

.cantidad {
  padding-right: 15px;
}

.container_select {
  margin-top: -50px;
}

.ttAndBtnClsOrdr {
  height: 45px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 15px;
}

.total {
  font-weight: bold;
  font-size: 20px;
  background-color: #fff;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnCloseOrder {
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  line-height: 2;
  border: none;
  cursor: pointer;
}

.category-container {
  margin-top: -70px;
  height: 585px;
  overflow: hidden;
  overflow-y: auto;
}

.container-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectInput {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 120px;

  margin: 15px 20px 20px 20px;
  padding: 20px 0 0 20px;

  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(15, 15, 15, 0.1);

  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px white;
}

.selectInputPizzas {
  background-image: url("../../Img/pizzas.png");
  background-size: cover;
}
.selectInputSandwichs {
  background-image: url("../../Img/sandwichs.png");
  background-size: cover;
}
.selectInputEmpanadas {
  background-image: url("../../Img/empanadas.png");
  background-size: cover;
}
.selectInputMinutas {
  background-image: url("../../Img/minutas.png");
  background-size: cover;
}
.selectInputBebidas {
  background-image: url("../../Img/bebidas.png");
  background-size: cover;
}

.quantity-button-container {
  margin: -5px 0 10px 0;
  display: flex;
  justify-content: space-around;
}

/* CART ITEM */
.ajusto-container-cart {
  display: flex;
  justify-content: center;
}
.container-cart {
  width: 85%;
  background-color: rgb(238, 238, 238);
  margin-top: -70px;
  margin-bottom: 80px;
  padding: 10px;
  border-radius: 10px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptionOrder {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.products-order {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  margin: 0px 20px 0px 20px;
}

.descripcion {
  margin: 0;
}

/* CATEGORY SELECTOR */
.prodAndPrice {
  display: "flex";
  justify-content: "space-between";
}
.btnAgregar_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btnAgregar {
  width: 260px;
}

/* QUANTITY INPUT */
.inputQuantity {
  width: 80px;
  height: 40px;

  font-size: 25px;
  text-align: center;
}
.labelAndInputQuantity {
  height: 40px;
  display: flex;
  align-items: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
