.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* label {
  display: block;

  font-size: 10px;
} */

.category {
  display: block;

  margin-bottom: 10px;
  font-size: 25px;
}

.ttAndBtnClsOrdr {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.total {
  font-weight: bold;
  font-size: 20px;
  background-color: #fff;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  /* padding: 10px;
  margin-bottom: 10px; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnCloseOrder {
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  line-height: 2;
  border: none;
  cursor: pointer;
}

.category-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 240, 232);
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  border: rgb(228, 230, 224) solid 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}


/* CART ITEM */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptionOrder {
  display: flex;
  justify-content: space-between;
}

.products-order{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}

/* CATEGORY SELECTOR */
.prodAndPrice {
  display: "flex";
  justify-content: "space-between";
}

/* QUANTITY INPUT */
.inputQuantity {
  width: 80px;
  height: 40px;
}
.labelAndInputQuantity {
  height: 40px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
