.ajusto-container-cart {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container-cart {
  width: 85%;
  background-color: rgb(238, 238, 238);
  border: solid 1px rgb(218, 218, 218);;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-order {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 10px 0 10px;
  margin: 0px 20px 0px 20px;
}

.descriptionOrder {
  display: flex;
  justify-content: space-between;

}

.descriptionOrderEmp{
  padding-top: 8px;
  padding-bottom: 8px;
}

.descripcion {
  margin: 0;
}
.ttAndBtnClsOrdr {
  width: 100%;
  height: 45px;

  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.total {
  margin: 0;
  width: 50%;
  height: 40px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 20px;
}

.btnCloseOrder {
  margin: 0;
  width: 30%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  text-decoration: none;
  font-size: 20px;
  color: white;

  background-color: #4caf50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  border: none;
  cursor: pointer;
}
