.selectInput {
  width: 90%;
  height: 120px;

  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(15, 15, 15, 0.1);

  font-size: 30px;
  color: black;
  font-weight: 900;
  text-align: center;
  -webkit-text-stroke: 1.2px white;
}

.selectInputPizzas {
  background-image: url("../../../Img/pizzas.png");
  background-size: cover;
}
.selectInputSandwichs {
  background-image: url("../../../Img/sandwichs.png");
  background-size: cover;
}
.selectInputEmpanadas {
  background-image: url("../../../Img/empanadas.png");
  background-size: cover;
}
.selectInputMinutas {
  background-image: url("../../../Img/minutas.png");
  background-size: cover;
}
.selectInputBebidas {
  background-image: url("../../../Img/bebidas.png");
  background-size: cover;
}
