.cart-item {
  /* background-color: #fff; */
  /* padding: 10px 15px; */
  /* margin-bottom: 10px; */
  /* border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptionOrder {
  display: flex;
  justify-content: space-between;
}

.products-order{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}