body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .category-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .quantity-button-container {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para los elementos de formulario */
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  .prodAndPrice {
    display: "flex";
    justify-content: "space-between";
}
  
  select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para los elementos del carrito */
  .cart-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Media queries para hacerlo responsive */
  @media screen and (max-width: 600px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  }